body, html {position: relative;height: 100%;width: 100%;overflow-x: hidden;}
body{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;overflow: hidden; -webkit-tap-highlight-color:rgba(0,0,0,0);  -webkit-tap-highlight-color: transparent; -webkit-user-select:none; -moz-user-select:none; user-select: none;-webkit-touch-callout: none;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,i { margin: 0; padding: 0; box-sizing: border-box;-webkit-box-sizing: border-box;}
input {line-height: normal;border: none;outline: 0; -webkit-box-shadow: none; -moz-box-shoadow: none; -o-box-shadow: none; box-shadow: none; -webkit-user-modify: read-write-plaintext-only; -webkit-tap-highlight-color:rgba(0,0,0,0);}
input[type="text"] { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
fieldset, img { border: 0; }
a:hover, a:active { text-decoration: none; }
ins, a { text-decoration: none; color: inherit }
button { overflow: visible; border: 0 none; background-color: transparent; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }
textarea, input { background: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-appearance: none; }
textarea:focus, input:focus{ -webkit-user-modify: read-write-plaintext-only;}
input[type=password] { -webkit-text-security: disc; }
textarea:focus, input:focus, button:focus { outline: none; }
li{list-style: none;}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #a6a6a6;
    font-size:14px;
}

.swap-enter {
    opacity: 0.01;
    -webkit-transition: opacity 90ms ease-in;
    transition: opacity 90ms ease-in;
}
.swap-enter.swap-enter-active {
    opacity: 1;
    transform: translate3d(0,0,0);
}
.swap-leave {
    opacity: 1;
    -webkit-transition: opacity 90ms ease-in;
    transition: opacity 90ms ease-in;
}
.swap-leave.swap-leave-active {
    opacity: 0;
}

.flex-box {
    display: -webkit-box;
    display: flex;
}

.flex1 {
    -webkit-box-flex: 1;
    flex: 1;
}

.hide{
    display: none;
}

/*errorModal*/
.errorModal{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #E9ECF1;
}
.errorModal>div{
    position: relative;
    top: 40%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}
.errorModal .error-text{
    color: #666;
}

